window {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        animation: none !important;
    }
}

body {
    font-family: "HK Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    line-height: 1.5;
    margin: 0;
    background-color: var(--body-bg);
    color: var(--body-color);

    &.pill-mode {
        background-color: var(--body-bg-pill-mode);
    }
}

button,
input,
textarea {
    font: inherit;
    color: inherit;
    line-height: 1rem;
}

a {
    color: inherit;
    transition: color 0.2s;
    text-decoration: none;

    &:hover {
        color: var(--primary-normal);
    }
}

.link-area {
    a:not(.present-link):not(.btn):not(.no-dotted) {
        border-bottom: 1px dotted;
        &:hover {
            border-bottom: 1px solid;
        }
    }
}

/* ------- */

h1,
h2,
h3 {
    color: var(--front-color);
    font-weight: 700;
    line-height: 1.2;
}

/* ------- */

.header {
    display: flex;
    height: 140px;
    align-items: center;
    box-sizing: content-box;

    > * {
        width: calc(50% - (140px / 2));
    }
}

.header-border {
    width: 100%;
    height: 6px;
    background-color: var(--body-bg-stronger);
    border-radius: 3px;
}

.header-nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    a {
        display: flex;
        align-items: center;
        font-weight: 600;
        height: 32px;
        margin-right: 1rem;

        color: var(--body-color);
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: border-color 0.2s;

        &:hover {
            color: var(--front-color);
        }

        &.active {
            color: var(--active-color);
            border-color: currentColor;
        }
    }
}

.header-logo {
    width: 140px;
    font-size: 52px;
    text-align: center;

    a {
        &,
        &:hover,
        &:focus,
        &:active {
            color: var(--front-color);
            text-decoration: none;
        }

        @media (hover: hover) {
            &:hover .lgk-logo {
                background-color: var(--secondary-normal);
                box-shadow: var(--secondary-normal) 0 0 1rem;
            }
        }
    }
}

.header-icon-link {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--front-color);
    text-decoration: none;
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
    border-radius: 50%;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        background-color: var(--front-color);
        color: var(--body-bg);
    }

    small {
        font-size: 0.5em;
        position: absolute;
        right: 0.25rem;
        bottom: 0.25rem;
        background-color: var(--front-color);
        color: var(--body-bg);
        display: inline-block;
        border-radius: 0.25rem;
        box-shadow: 0 0 2px currentColor;
    }
}

.header-social {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    a {
        @extend .header-icon-link;
    }
}

/* ------- */

.page {
    animation: appear 0.5s;

    @extend .link-area;
}

/* ------- */

.masthead {
    padding: 48px 0 100px 0;
    text-align: center;

    h1 {
        margin-top: 1rem;
        font-size: 60px;
    }

    p {
        font-size: 20px;
        white-space: pre-wrap;
    }
}

.title {
    font-size: 36px;
    color: var(--front-color);
    font-weight: 700;
}

.footer {
    padding: 100px 0;
    text-align: center;
}

/* ------- */

.form {
    padding: 0 calc(50% - 18rem);
}

label {
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
