* {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: var(--front-color);
}

.text-normal-grey {
    color: $normal-grey !important;
}

.font-normal {
    font-size: 1rem;
}

@mixin btn {
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background-color: var(--primary-normal);
    color: var(--body-bg) !important;
    padding: 0.5rem 0.7rem;
    margin-bottom: 5px;
    border-radius: 4rem;
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--primary-hover);
        color: var(--body-bg) !important;
    }

    &.secondary {
        background-color: var(--body-bg-stronger);
        color: var(--front-color) !important;

        &:hover {
            background-color: var(--front-color);
            color: var(--body-bg) !important;
        }
    }

    &:active {
        background-color: var(--secondary-hover) !important;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.1rem var(--primary-normal);
    }
}

.btn {
    @include btn();
}

.lg {
    padding: 0.8rem 1rem;
}

.container {
    padding: 0 calc(50% - 38rem);
    margin: 0 1rem;
}

.container-fluid {
    padding: 1rem;
}

.animation-spin {
    display: inline-block;
    animation: spinAnimation 1s infinite linear;
}

@keyframes spinAnimation {
    0% {
        transform: rotate(0deg);
        color: $primary;
    }
    100% {
        transform: rotate(359deg);
        color: $secondary;
    }
}

.appear {
    animation: appear 0.5s;
}

.appear-1s {
    animation: appear 1s;
}

@keyframes appear {
    from {
        opacity: 0;
    }
}

.fade-opacity-from-100-to-70 {
    animation: fade-opacity-from-100-to-70 0.5s;
}

@keyframes fade-opacity-from-100-to-70 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.7;
    }
}

.form-group {
    margin-bottom: 2rem;
}

@mixin form-control() {
    display: block;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: var(--control-bg);
    color: var(--body-color);
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1);

    &:focus {
        outline: none;
        box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1),
            inset 0 -2px var(--primary-normal);
    }
}

.form-control {
    @include form-control();
}

.mt-1 {
    margin-top: $spacing-1;
}

.mb-1 {
    margin-bottom: $spacing-1;
}

.my-1 {
    @extend .mt-1;
    @extend .mb-1;
}

.mt-2 {
    margin-top: $spacing-2;
}

.mb-2 {
    margin-bottom: $spacing-2;
}

.ml-2 {
    margin-left: $spacing-2;
}

.mr-2 {
    margin-right: $spacing-2;
}

.my-2 {
    @extend .mt-2;
    @extend .mb-2;
}

.m-2 {
    @extend .mt-2;
    @extend .mb-2;
    @extend .ml-2;
    @extend .mr-2;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mx-auto {
    @extend .ml-auto;
    @extend .mr-auto;
}

.w-100 {
    width: 100%;
}

.d-block {
    display: block !important;
}

.d-inline {
    display: inline !important;
}
