.search-area {
    .search-toggle {
        margin-right: 1rem;
    }

    .search-underlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 80;
        display: block;
        cursor: default;
        content: " ";
    }

    .dialog {
        position: absolute;
        top: 2.6rem;
        z-index: 100;
        width: 400px;
        border-radius: 0.5rem;
        background-color: var(--body-bg);
        box-sizing: border-box;
        border-radius: 4rem;
        box-shadow: var(--neumorphism-shadow);
    }

    form {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        input {
            all: unset;
            @include form-control();
            border-radius: 4rem;
            padding: 0.8rem 1rem;
            padding-left: 4rem;
            padding-right: 4rem;

            background: var(--control-bg) !important;

            &:focus {
                color: var(--body-color) !important;
            }
        }

        .search-close,
        .search-submit {
            all: unset;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            @include btn();
        }

        .search-close.secondary {
            left: 0.25rem;
            background-color: transparent;
        }

        .search-submit {
            right: 0.25rem;
        }
    }
}
